@import url("https://fonts.googleapis.com/css?family=Titillium+Web:400,600");
* {
  padding: 0;
  margin: 0;
}

.student {
  height: 100vh;
  width: 100%;
  background-image: url(https://res.cloudinary.com/dodtgxxtk/image/upload/v1723776993/Backgroum_image_qwy5uv.jpg);
  background-size: cover;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 8%;
  padding-right: 5%;
}

h2 {
  font-family: "cursive";
  color: #f9004d;
  font-size: 30px;
}

span {
  color: #00f1f9;
}

nav ul li {
  font-family: "Titillium Web";
  list-style: none;
  display: inline-flex;
  justify-content: space-between;
  padding: 10px 30px;
}

nav * {
  box-sizing: border-box;
  transition: all 0.35s ease;
}

nav ul li a {
  padding: 0.5em 0.8em;
  color: rgb(210, 211, 212);
  position: relative;
  text-decoration: none;
  font-size: 20px;
}

nav a::before,
nav a::after {
  content: "";
  height: 14px;
  width: 14px;
  position: absolute;
  transition: all 0.35s ease;
  opacity: 0;
}

nav a::before {
  content: "";
  right: 0;
  top: 0;
  border-top: 3px solid #06c4c7;
  border-right: 3px solid #08ccc5;
  transform: translate(-100%, 50%);
}

nav a:after {
  content: "";
  left: 0;
  bottom: 0;
  border-bottom: 3px solid #fb0c5b;
  border-left: 3px solid #fb0c5b;
  transform: translate(100%, -90%);
}

nav a:hover:before,
nav a:hover:after {
  transform: translate(0, 0);
  opacity: 1;
}

nav a:hover {
  color: #fb0c5b;
}

.head {
  padding-top: 200px;
  padding-left: 112px;
}

h3 {
  color: rgb(210, 211, 212);
  font-size: 30px;
}

h1 {
  padding-right: 20px;
  font-family: "Grey Qo", cursive;
  color: #f9004d;
  font-size: 70px;
}

h4 {
  color: rgb(210, 211, 212);
  font-size: 30px;
}

.social ul {
  padding-top: 10%;
  padding-left: 36%;
  display: flex;
  position: absolute;
  transform: translate(-50%, -50%);
}

.social ul li {
  list-style: none;
}

.social li a {
  width: 40px;
  height: 40px;
  background-color: transparent;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  margin: 0 15px;
  display: block;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  border: 3px solid #fff;
  z-index: 1;
}

.social ul li a .icon {
  position: relative;
  color: #e7e3e3;
  transition: 0.5s;
  z-index: 3;
}

.social ul li a:hover .icon {
  transform: rotateY(360deg);
  border-color: #fb0c5b;
}

.about-me {
  padding: 59px 0px;
  background-color: rgb(50, 50, 50);
  height: 100vh;
}

.about-me h5 {
  text-align: center;
  font-size: 50px;
  color: #fb0c5b;
}

.about-me span {
  color: aliceblue;
}

.about-me img {
  margin-top: 15%;
  height: auto;
  width: 430px;
  border: 3px solid red;
  border-radius: 70px;
  filter: drop-shadow(10px 7px 10px rgb(0, 255, 238));
}

.about-text {
  width: 550px;
}

.about-text p {
  font-size: 25px;
  color: #9e9d9d;
  margin-top: 15%;
  font-family: "Titillium Web";
  text-align: justify;
  margin-left: 60px;
}

.main {
  width: 1130px;
  max-width: 95%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-image: space;
}

.newslatter form {
  padding-top: 20px;
  max-width: 100%;
  position: relative;
  padding-left: 60px;
}

.newslatter form input:first-child {
  display: inline-block;
  font-style: oblique;
  width: 30%;
  border-radius: 299px;
  padding: 14px 130px 14px 15px;
  border: 2px solid #f9004d;
  outline: none;
  font-size: bold;
}

.button {
  background-color: crimson;
  position: absolute;
  font-style: oblique;
  font-weight: 500;
  font-size: bold;
  display: inline-block;
  outline: none;
  border-color: rgb(6, 194, 232);
  padding: 10px 30px;
  border-radius: 290px;
  color: #dacdd1;
  margin-top: 1%;
  margin-left: 4%;
}

.button:hover {
  filter: drop-shadow(0 0 10px #ff0062);
}

.skills {
  background-color: #131212;
  height: 120vh;
}

.skills h1 {
  padding-top: 20px;
  color: #f3f1f1;
  font-size: 50px;
  font-family: "Titillium Web";
  padding-left: 8%;
}

.skills span {
  color: #f9004d;
}

.skills ul {
  padding-left: 200px;
}

.skills ul li {
  display: inline-block;
  justify-content: space-between;
  padding: 50px;
  padding-left: 10%;
}

.skills ul li h1 {
  color: #fef100;
  font-size: 20px;
}

.fa-python {
  font-size: 70px;
  color: #fef100;
  border: 2px solid rgb(235, 235, 9);
  width: 140px;
  height: 140px;
  padding-top: 25px;
  text-align: center;
  border-radius: 20px;
}

.fa-java {
  font-size: 70px;
  color: #32a8d6;
  padding-top: 25px;
  border: 2px solid #32a8d6;
  width: 140px;
  height: 140px;
  text-align: center;
  border-radius: 20px;
}

.fa-html5 {
  font-size: 70px;
  color: orangered;
  border: 2px solid orangered;
  width: 140px;
  height: 140px;
  padding-top: 25px;
  text-align: center;
  border-radius: 20px;
}

.skills h5 {
  font-size: 30px;
  font-family: "Titillium Web";
  font-weight: 700;
  color: #e1e3e3;
  display: inline-flex;
  justify-content: space-between 70px;
  padding: 0px 10px;
  text-align: center;
  padding-left: 350px;
}

.skills h6 {
  font-size: 30px;
  font-family: "Titillium Web";
  font-weight: 700;
  color: #e1e3e3;
  display: inline-flex;
  justify-content: space-between 70px;
  padding: 0px 10px;
  text-align: center;
  padding-left: 240px;
}

.skills h4 {
  font-size: 30px;
  font-family: "Titillium Web";
  font-weight: 700;
  color: #e1e3e3;
  display: inline-flex;
  justify-content: space-between 70px;
  padding: 0px 10px;
  text-align: center;
  padding-left: 240px;
}

.skill ul li {
  display: inline-block;
  justify-content: space-between;
  padding: 50px;
  padding-left: 10%;
}

.fa-css3-alt {
  margin-top: none;
  font-size: 70px;
  color: rgb(0, 191, 255);
  border: 2px solid rgb(0, 208, 255);
  width: 140px;
  height: 140px;
  padding-top: 25px;
  text-align: center;
  border-radius: 20px;
}

.fa-js {
  font-size: 70px;
  color: rgb(242, 216, 14);
  border: 2px solid rgb(255, 251, 0);
  width: 140px;
  height: 140px;
  padding-top: 25px;
  text-align: center;
  border-radius: 20px;
}

.fa-react {
  font-size: 70px;
  color: rgb(0, 170, 255);
  border: 2px solid rgb(0, 187, 255);
  width: 140px;
  height: 140px;
  padding-top: 25px;
  text-align: center;
  border-radius: 20px;
}

.skill h6 {
  font-size: 30px;
  font-family: "Titillium Web";
  font-weight: 700;
  color: #e1e3e3;
  display: inline-flex;
  justify-content: space-between 70px;
  padding: 0px 10px;
  text-align: center;
  padding-left: 280px;
}

.pro {
  background-color: #131212;
  height: 100vh;
}

.pro h2 {
  padding-top: 20px;
  font-size: 50px;
  color: #dacdd1;
  padding-left: 8%;
  font-family: "Titillium Web";
}

.project-container {
  display: grid;
  grid-template-columns: repeat(4, 5fr);
  padding: 100px 100px;
  padding-top: 200px;
  text-align: center;
}

.card {
  font-size: 30px;
  background: rgb(20, 19, 20);
  text-align: center;
  color: #ffffff;
  width: 300px;
  height: 300px;
  border-radius: 7px;
  cursor: pointer;
  box-shadow: rgba(100, 100, 111, 0.2);
  transition: all 0.3s ease-in-out;
}

.card p {
  font-size: 15px;
  color: #858080;
  text-align: justify;
}

.fa-gamepad {
  color: #93949a;
  font-size: 70px;
  padding-bottom: 20px;
}

.fa-calculator {
  color: #93949a;
  font-size: 70px;
  padding-bottom: 20px;
}

.fa-stopwatch-20 {
  color: #93949a;
  font-size: 70px;
  padding-bottom: 20px;
}

.fa-clone {
  color: #93949a;
  font-size: 70px;
  padding-bottom: 20px;
}

.card:hover {
  color: #f9004d;
  transform: translateY(-15px);
}

.project-container:hover > :not(:hover) {
  opacity: 0.5;
  color: #32a8d6;
}

.body {
  width: 100%;
  min-height: 100vh;
  background-color: #131212;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  padding: 35px 10%;
}

main.row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
}

.col header.title h2 {
  font-family: "Helvetica";
  color: #00f1f9;
  padding: 0px 0px 20px 30px;
}

.col .contents {
  padding: 0px 30px;
  border-left: 2px solid #615f5f;
}

.col .contents .box {
  position: relative;
  padding: 20px;
  border: 1px solid #322f2f;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.4s;
  margin-bottom: 20px;
}

.col .contents .box:hover {
  box-shadow: 0px 3px 12px 0px #0e5556;
  border: 1px solid transparent;
}

.col .contents .box::before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  right: calc(100% + 24px);
  top: 0;
  background-color: #0cbab7;
  border: 2px solid rgb(237, 235, 233);
}

.box h4 {
  position: relative;
  color: #d2cfcf;
}

.box h3 {
  font-size: 19px;
  padding: 10px 0px 6px;
  font-family: "Helvetica";
  color: #dac3c3;
}

.box p {
  line-height: 1.2;
  color: #605d5e;
  font-size: 17px;
}

.contacts {
  display: grid;
  padding-top: 40px;
  justify-content: center;
  background-color: #000;
}

.contact-text h2 {
  text-align: left;
  color: #d2cfcf;
  font-size: 50px;
  padding-top: 0px;
}

.contact-text h2 span {
  color: #00eaff;
}

.contact-text p {
  color: rgb(177, 177, 177);
  font-size: 20px;
  line-height: 30px;
}

.contact-list li {
  color: #d2cfcf;
  margin-bottom: 10px;
  display: block;
  margin-bottom: 10px;
  letter-spacing: 2px;
}

.contact-list i {
  display: inline-block;
  color: #00fff7;
  font-size: 20px;
  font-weight: 600;
  transition: all 0.4s ease;
  padding: 9px;
}

.contact-icons i {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: transparent;
  border: 2px solid #00e1ff;
  border-radius: 50%;
  font-size: 20px;
  color: #00ffff;
  text-decoration: none;
  margin: 0px 15px 0px 0;
  opacity: 1;
}

.contact-icons i:hover {
  background: #00ffff;
  color: #000;
  box-shadow: 0 0 20px #00ccff;
}

.last-text p {
  color: #b6b9b9;
  padding: 20px;
  background: black;
  font-weight: 300;
  margin-top: 0px;
  padding-left: 42%;
}

.last-text span {
  color: #ba0c55;
}
